.content-wrapper {
    display: flex;
    flex-direction: row;
}
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-zoom {
    margin-top: 20px;
}
.map {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    svg {
        border-width: 1px;
        border-color: #999999;
        border-style: solid;
    }
}
.map-button {
    margin-bottom: 20px;
    button {
        margin-right: 20px;
    }
}
.clear-link {
    color: #606060;
    margin-top: 8px;
    &:hover {
        text-decoration: underline;
    }
}
