<div nz-row
     class="content-wrapper">
    <div nz-col
         nzXs="24"
         nzSm="24"
         nzMd="24"
         nzLg="12"
         nzXl="12">
        <div nz-row>
            <div nz-col
                 nzXs="24"
                 nzSm="24"
                 nzMd="24"
                 nzLg="12"
                 nzXl="12"
                 nzOffset="6">
                <nz-card class="card"
                         nzTitle="Map Settings">
                    <div nz-row>
                        <div nz-col
                             nzSpan="24">
                            <nz-form-item>
                                <nz-form-label [nzSpan]='24'>Map Type</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzPlaceHolder="Please select map type"
                                               (ngModelChange)="onChangeType($event)"
                                               [(ngModel)]="typeSelected">
                                        <nz-option *ngFor="let type of typeList"
                                                   [nzLabel]="type.view"
                                                   [nzValue]="type.value"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col
                             nzSpan="24">
                            <nz-form-item>
                                <nz-form-label [nzSpan]='24'>Route (hover over the point to show the bus data)
                                </nz-form-label>
                                <nz-form-control>
                                    <nz-select nzPlaceHolder="Please select"
                                               nzMode="tags"
                                               nzAllowClear
                                               (ngModelChange)="onChangeRoute($event)"
                                               [(ngModel)]="routeListSelected">
                                        <nz-option *ngFor="let route of routeList"
                                                   [nzLabel]="route.view"
                                                   [nzValue]="route.value"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row
                         class="m-t-b-10">
                        <div nz-col
                             nzSpan="24">
                            <label nz-checkbox
                                   (ngModelChange)="onChangeShowStops($event)"
                                   [(ngModel)]="showStops">Show stops</label>
                        </div>
                    </div>
                    <div nz-row
                         class="m-t-b-10">
                        <div nz-col
                             nzSpan="24">
                            <label nz-checkbox
                                   (ngModelChange)="onChangeShowRoute($event)"
                                   [(ngModel)]="showRoute">Show route</label>
                        </div>
                    </div>
                    <div nz-row>
                        <label *ngIf="lastUpdatedTimeSanFrancisco && lastUpdatedTimeLocal">
                            Last updated time <br>
                            {{lastUpdatedTimeSanFrancisco}} (GMT-7) <br>
                            {{lastUpdatedTimeLocal}} (GMT-3)
                        </label>
                    </div>
                </nz-card>
            </div>
        </div>
    </div>
    <div id="map"
         nz-col
         class="map"
         nzXs="24"
         nzSm="24"
         nzMd="24"
         nzLg="12"
         nzXl="12">
        <div class="map-button">
            <button id="refresh"
                    class="btn"
                    nz-button
                    (click)="drawMap()"
                    nzType="default">
                REFRESH
            </button>
            <button id="reset"
                    class="btn"
                    nz-button
                    nzType="default">
                RESET ZOOM
            </button>
            <button id="zoom_in"
                    class="btn"
                    nz-button
                    nzType="default">
                + ZOOM IN
            </button>
            <button id="zoom_out"
                    class="btn"
                    nz-button
                    nzType="default">
                - ZOOM OUT
            </button>
        </div>
    </div>
</div>
