.content-wrapper {
    display: flex;
    flex-direction: row;
}
.card {
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn {
    margin-top: 20px;
}
.map {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    svg {
        border-width: 1px;
        border-color: #999999;
        border-style: solid;
    }
}
.map-button {
    margin-bottom: 20px;
    button {
        margin-right: 20px;
    }
}
.m-t-b-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
