.content-wrapper {
    display: flex;
    flex-direction: row;
}
.map-setting {
    display: flex;
    flex-direction: row;
    nz-select {
        margin-right: 20px;
        width: 100%;
    }
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}
.map {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    button {
        margin-bottom: 20px;
    }
    svg {
        border-width: 1px;
        border-color: #999999;
        border-style: solid;
    }
}
