<div nz-row>
    <div nz-col
         nzSpan="12"
         nzOffset="6">
        <nz-card class="card"
                 nzTitle="Inputs">
            <div nz-row>
                <div nz-col
                     nzSpan="12">
                    <nz-form-item>
                        <nz-form-label>Route</nz-form-label>
                        <nz-form-control>
                            <nz-select nzPlaceHolder="Please select"
                                       (ngModelChange)="onChangeRoute($event)"
                                       [(ngModel)]="routeSelected">
                                <nz-option *ngFor="let route of routeList"
                                           [nzLabel]="route.view"
                                           [nzValue]="route.value"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-card>
    </div>
</div>
<div id="map"
     class="map">
    <nz-spin nzSimple
             [nzSize]="'large'"
             *ngIf="isLoading"></nz-spin>
    <button id="reset"
            nz-button
            nzType="primary">
        Reset Zoom
    </button>
</div>
